<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <div class="footer__top">
          <h2 class="section-title _left">
            <span>Найди Свой Лучший Курс</span> <br>
            И Получи Результат
          </h2>
          <a href="#" class="btn footer__btn"><span>Выбрать Курс</span></a>
        </div>
        <div class="footer__mid">
          <a href="#" class="footer-logo">
            <img src="./img/footer-logo.svg" alt="logo" width="166" height="36">
          </a>
          <p>Получите быструю консультацию <br>
            в любое время на любые вопросы <br>
          совершенно бесплатно</p>
        </div>
      </div>      
      <i class="footer__illustr">
        <img src="./img/hero-illustr-sm.png" alt="illustr" width="330" height="320">
      </i>
    </div>
    <div class="copyright">Exweak 2020</div>
  </div>
</footer>
<!-- Developer -->
<div class="develop">
  <a href="https://t.me/kh2nh">Develop by: Khánh Nguyễn</a>
</div>
