<header class="header" id="js-header">
	<div class="header-holder container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo">
    </a>

		<nav class="nav">
      <ul>
        <li><a href="#" data-hover="домой">домой</a></li>
        <li><a href="#" data-hover="возможности">возможности</a></li>
        <li><a href="#" data-hover="курсы">курсы</a></li>
        <li><a href="#" data-hover="отзывы">отзывы</a></li>
        <li><a href="#" data-hover="блог">блог</a></li>
      </ul>  
    </nav>

    <div class="burger">
      <div class="burger__holder">
        <span></span>
      </div>
    </div>
	</div>
</header>