<header class="header">
	<div class="header-holder container">
    <a href="#" class="logo">
      <img src="./img/logo.svg" alt="logo">
    </a>

		<nav class="nav">
      <ul>
        <li><a href="#">ДОМОЙ</a></li>
        <li><a href="#">ВОЗМОЖНОСТИ</a></li>
        <li><a href="#">КУРСЫ</a></li>
        <li><a href="#">ОТЗЫВЫ</a></li>
        <li><a href="#">БЛОГ</a></li>
      </ul>  
    </nav>

    <div class="burger">
      <div class="burger__holder">
        <span></span>
      </div>
    </div>
	</div>
</header>