.footer {
  padding: 110px 0 28px;

  .container {}

  &__wrap {
    text-align: left;
    display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    padding-right: 64px;
  }

  &__top {
    margin-bottom: 56px;
  }

  &__mid {
    margin-bottom: 56px;
    font-size: 12px;
  }

  &__left {}

  &__illustr {

  }

  &__btn {
    padding: 12px 14px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 18px;
  text-decoration: none;
}

.copyright {
  text-align: left;
}

// Develop
.develop {
  background-color: #000;
  color: #fff;
  padding: 6px;
  position: relative;
  text-align: center;
  font-size: 14px;
  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
    &:after {
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      transition: 0.3s ease;
      transform: scale(0);
    }
  }
}