.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 18px 0;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
  // box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);

  &.is-hidden {
    transform: translate(0, -100%);
    // padding: 10px 0;
    // border-bottom: 1px solid rgba(80, 190, 70, 0.5);
  }
}

.header-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -23px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 23px;
      display: flex;

      a,span {
        font-family: $main-font, sans-serif;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        padding: 4px;
        color: $text;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;

        &:after {
          content: attr(data-hover);
          color: $apple;
          position: absolute;
          overflow: hidden;
          border-bottom: 1px solid $apple;
          top: 4px;
          left: 4px;
          max-width: 0;
          transition: max-width 0.5s;
        }

        &:hover {
          @media only screen and (min-width: 1025px) {
            &:after {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.burger {
  height: 36px;
  width: 36px;
  display: none;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
  &__holder {
    position: relative;

    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: 0.3s ease;
    }
  }

  &.is-open {}
}